extends layout

block content
  .container
    .text-center
      h2 Edit Student [#{student.numero}] (DAW2020)

    .card.my-5.text-center.border-danger(id="general-error", style="display: none;")
      .card-body
        span(style="color: red;")
    
    .mb-5
      form(id="edit-student-form")
        .form-row
          .col-7
            label(for="name")
            input.form-control(type="text", id="name", name="nome", placeholder="Name...", value=`${student.nome}`, required)
            p(id="name-error", style="color: red; display: none") Name is required 
          .col
            label(for="number")
            input.form-control(type="text", id="number", name="numero", placeholder="Number...", value=`${student.numero}`, required)
            p(id="number-error", style="color: red; display: none") Number is required 
        .form-group
          label(for="git")
          .input-group.mb-2
            .input-group-prepend
              .input-group-text github.com/
            if student.git
              - let git = student.git.substring(19).split(".git")[0];
              input.form-control(type="text", id="git", name="git", placeholder="Git repo...", value=`${git}`, required)
            else
              input.form-control(type="text", id="git", name="git", placeholder="Git repo...", required)
          p(id="git-error", style="color: red; display: none") Git repo is required 

        div.mb-5
          h5.pt-3.pt-2 TPCs Done
          - let i = 1;

            while i < 9
              if student.tpc[i - 1] === 1
                .custom-control.custom-checkbox.custom-control-inline
                  input.custom-control-input(type="checkbox", id=`tpc${i}`, name=`tpc${i}`, checked)
                  label.custom-control-label(for=`tpc${i}`) TPC #{i}
              else
                .custom-control.custom-checkbox.custom-control-inline
                  input.custom-control-input(type="checkbox", id=`tpc${i}`, name=`tpc${i}`)
                  label.custom-control-label(for=`tpc${i}`) TPC #{i}
              - i++
        
        div.text-center
          button.btn.btn-primary(type="button", onclick=`updateStudent("${student.numero}");`) Update student

  script(src="/javascripts/galunos.js")