extends layout

block content
  .container
    .text-center
      h2 Students List (DAW2020)

      if list.length > 0
        .container.py-5
          table.table.table-borderless.table-hover
            thead.thead-dark
              tr
                th Number
                th Name
                th Git
                th
            tbody
              each s in list
                tr.student-row(onclick= `window.location = "/students/${s.numero}"`)
                  td= s.numero
                  td= s.nome
                  td
                    if s.git
                      a(href=s.git, target="_blank", onclick="event.stopPropagation();")= s.git.substring(19).split(".git")[0]
                    else
                  td.delete-student-icon(onclick=`event.stopPropagation();deleteStudent("${s.numero}")`)
                    span
                      i.far.fa-trash-alt(style="color: red;")
      else
        .container.py-5.my-5
          h5 There are no students...

  script(src="/javascripts/galunos.js")