extends layout

block content
  if view === "files_list"
    .container
      .text-center
        h2 Files List (DAW2020)

        if list.length > 0
          .container.py-5
            table.table.table-borderless.table-hover
              thead.thead-dark
                tr
                  th Date
                  th File
                  th Description
                  th Size
                  th Type
              tbody
                each f in list
                  tr(onclick= `showImage("${f.name}", "${f.mimetype}")`, data-toggle="modal", data-target="#imageModal")
                    td= f.date
                    td= f.name
                    td= f.desc
                    td= f.size
                    td= f.mimetype
                    
        else
          .container.py-5.my-5
            h5 There are no files...

    .modal.fade(id="imageModal", tabindex="-1")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-body
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            div(id="imageContent")
  
  else if view === "upload"
    .container
      .text-center
        h2 Files Upload (DAW2020)

        form(action="/api/files" method="POST", enctype="multipart/form-data")
          .container(id="fileInputGroup")
            .my-3.p-4.border.rounded
              .row.mb-3
                label(for="desc") Description:
                input.form-control(type="text", name="desc", required)

              .row.mb-3
                .custom-file
                  label.custom-file-label(for="file") Select file
                  input.custom-file-input(type="file", name="file", required)

          input.btn.btn-secondary.mr-5(type="button", onclick="addFileInput()", value="+1")
          input.btn.btn-lg.btn-primary(type="submit", value="Submit")